@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer components {
  .month:not(.is-large) {
    @apply cursor-pointer;
  }
  .month .day {
    @apply bg-slate-700 text-lg flex place-items-center justify-center py-1 lg:py-0 h-full lg:aspect-square lg:h-auto;
  }
  .month .day.has-events {
    @apply bg-orange-900;
  }
  .month.is-large .day {
    @apply hover:bg-slate-600;
  }
  .month.is-large .day.has-events {
    @apply hover:bg-orange-800;
  }
  .month:not(.is-large):hover .day {
    @apply bg-slate-600;
  }
  .month:not(.is-large):hover .day.has-events {
    @apply bg-orange-800;
  }
}